/* WELCOME SECTION */
.welcome {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  overflow: hidden;
  gap: 10px;
  border-radius: 0px;
  font-size: 100px;
}

/* ABOUT ME SECTION */
.about,
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin: auto;
  max-width: 100%;
  padding: 120px;
  flex-direction: row;
}

.photo {
  width: 40%;
}

.photo img {
  width: 100%;
}

.text-content {
  width: 50%; /* adjust as needed */
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name h1,
.name h2,
.name span {
  margin: 0;
}

.name h1 {
  font-size: 24px;
  color: #333;
}

.name h2 {
  font-size: 20px;
  color: #666;
}

.name span {
  font-size: 16px;
  color: #999;
}

.description p {
  color: #333;
  line-height: 1.6;
}

.description {
  width: 100%;
}
