/* PORTFOLIO SECTION */
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  font-family: Arial, sans-serif;
  min-height: 600px;
}

.image-portfolio {
    /* Set a max-height if you want to limit the height of the image container */
    max-height: 500px; /* Adjust based on your design needs */
    overflow: hidden; /* This will clip the image if it exceeds the container's bounds */
    text-align: center; /* Center the image in case it's smaller than the container */
}

.image-portfolio img {
    max-width: 100%; /* Limits the image width to not exceed its container's width */
    max-height: 100%; /* Limits the image height to not exceed its container's height */
    height: auto; /* Maintains the aspect ratio of the image */
    object-fit: contain; /* Ensures the image is scaled down to fit within its container */
    display: inline-block; /* Aligns the image properly within its container */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.description-portfolio {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title h1 {
  margin: 0;
  font-size: 24px;
}

.description p {
  margin: 0;
  line-height: 1.4;
  color: #333;
}
