@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

*{
    margin: 0;
    font-family: 'Lusitana', serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}
/* background-color: #dce1de; */

body{
    transition: background 1s ease;
    background-color: #FAFAFA;
    min-height: 100vh;
}

/* HEADER */
header {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    overflow: hidden;
    gap: 10px;
    border-radius: 0px;
    font-weight: 700;
}

.left {
    align-self: flex-start;
}


.right {
    align-self: flex-end;
}


/* FOOTER */
footer {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    overflow: hidden;
    gap: 10px;
    border-radius: 0px;
    margin-top: auto;
}
.follow {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px; 
}



/* MEDIA QUERIES */
a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    letter-spacing: 0.9px;
    padding: 0 5px;
}

a::after{
    content: '';
    position:absolute;
    background-color: #666;
    height: 2px;
    width:0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

a:hover:after {
    color: #666;
    width:100%;

}

